html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif; /* Ensures a readable and clean font */
    color: #333; /* Default text color for readability */
    background-color: #f4f4f4; /* Soft background color */
  }

body { 
  min-height: 100vh; 
}


/* formatting */
.row {
  margin: 0px;
  height: 50px;
  width: 1110px;
}

.fiftyH {
    height: 50px;
}


/* images */
.absolute {
  position: absolute;
}

.top {
  background-image: url("/images/Component 2.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  margin-left: -15px;
  margin-right: 15px;
  height: auto;
}

/* Flex stuff */
.tip {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Title */
.titleBox {
  margin: 5px;
  height: 82px;
  width: 665px;
}

/* Logo stuff */
.altLogo {
  height: 200px;
  width: 200px;
  border: 2px solid #94DA97;
  box-shadow:4px 4px 4px #3a3a3a;
}

/* background colors */
.placeholder-black {
  background-color: #000000;
}

.placeholder-grey {
  background-color: #d9d9d9c9;
}

.placeholder-grey2 {
  background-color: #848484;
}

.placeholder-title {
  background-color: #588BA0;
}

.placeholder-lightblue {
  background-color: #E5FFFD;
}

.placeholder-darkblue {
  background-color: #67A6AA;
}

.placeholder-crimson {
  background-color: #D00000;
}

.placeholder-green {
  background-color: #71db40;
}

.placeholder-treegreen {
  background-color: #4F985F;
}

.placeholder-palletblue {
  background-color: #75DDDD;
}

/* Word Stuff */
.backButton {
    font-size: x-large;
}

.designPage {
  font-size: x-large;
}

.itemDesc {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: larger;
  color : #000000;
}

/* tap */
.purple {
  height: 458px;
}

.tap {
  display: flex;
  padding: 0;
  flex-direction: row;
  align-items: top;
}

.absolute {
  position: absolute;
}

.card {
  width: 167px;
  height: 229px;
}

.relative {
  position: relative;
}

.card1 {
  top: -15px;
  left: -30px;
}

.card2 {
  top: -2px;
  left: -30px;
}

#tags {
  height: 100px;
}

.infoButton {
  height: 35px;
  width: 150px;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: large;
  color : #ffffff;
  background-color: #000000;
}

.google {
  font-size: large;
}