html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif; /* Ensures a readable and clean font */
    color: #333; /* Default text color for readability */
    background-color: #f4f4f4; /* Soft background color */
  }

body { 
  min-height: 100vh; 
}


/* formatting */
.row {
  margin: 0px;
  height: 50px;
  width: 1110px;
}


/* logo stuff */
.logo {
  height: 50px;
  width: 100px;
}

.logo-text {
  text-align: center;
  color: white;
}

.logopic {
  margin: 0;
  border-collapse: collapse;
  z-index: 150;
  position: relative;
}

/* Navbar */
.navbarButton {
  height: 40px;
}

.pads {
  margin: 5px 0 5px;
}

.page {
  font-size:x-large;
  color: #000000;
  font-weight: bold;
}

/* Title */
.Title {
  text-align: center;
}

/* background colors */
.placeholder-black {
  background-color: #000000;
}

.placeholder-grey {
  background-color: #d9d9d9c9;
}

.placeholder-grey2 {
  background-color: #848484;
}

.placeholder-title {
  background-color: #588BA0;
}

.placeholder-lightblue {
  /* background-color: #E5FFFD; */
}

.placeholder-darkblue {
  background-color: #67A6AA;
}

.placeholder-crimson {
  background-color: #D00000;
}

.placeholder-green {
  background-color: #71db40;
}

/* Word Stuff */
.center {
  text-align: center;
}

.quote {
  font-family: "Playfair Display", serif;
  font-size: x-large;
  font-weight: 500;
  font-style: normal;
}

.quote-2 {
  font-family: "Playfair Display", serif;
  font-size: x-large;
  font-weight: 500;
  font-style: normal;
}

.quoteButton {
  background-color: #75DDDD;
}

.desc {
  font-family: "Playfair Display", serif;
  font-size: x-large;
  font-weight: 500;
  font-style: normal;
}

.descBox {
  height: 100px;
}

.background {
  opacity: 1;
  position: absolute;
  left: 3px;
  z-index: 100;
}

.profile {
  border-radius: 100%;
  z-index: 150;
  position: absolute;
  border: 2px solid #09BC8A;
}

.Lightblue {
  background-image: url("images/BackgroundPic.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-blend-mode: color;
  padding: 0;
  margin: 0;

}